
#include "RESOURCE.H"
#define  STRICT
#define  WIN32_LEAN_AND_MEAN
#define  NOWINRES
#include <Windows.h>


MainExeIconID ICON 	MAIN.ICO



MainMenuID MENU DISCARDABLE
BEGIN
    POPUP "설정(&O)"
    BEGIN
        MENUITEM "트랙바 설정(&S)...",      SettingCmdID
        MENUITEM SEPARATOR
        MENUITEM "종료(&X)",                ExitCmdID
    END
    POPUP "도움말(&H)"
    BEGIN
        MENUITEM "이 프로그램은(&A)...",    AboutCmdID
    END
END





AboutDialog DIALOG 160, 78, 144, 77
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "이 프로그램은 "
FONT 9, "굴림"
{
 CONTROL "Property Sheet 예제 Ver 1.0", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 17, 92, 8
 CONTROL "프로그래머: 죠우저프", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 25, 27, 76, 8
 CONTROL "작성일: 2023-01-28", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 25,37,99,8
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 54,51,40,14
}



SetTbRangeDialog DIALOG 38, 19, 194, 50
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "트랙바 범위 설정"
FONT 9, "굴림"
{
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 5, 4, 184, 40
 CONTROL "최소값:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 11, 55, 8
 CONTROL "", TbRangeMinEBID, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 68, 9, 35, 12
 CONTROL "최대값:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 26, 55, 8
 CONTROL "", TbRangeMaxEBID, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 68, 25, 35, 12
}



SetTbPageLineDialog DIALOG 0, 0, 216, 47
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "페이지와 라인크기 설정"
FONT 9, "굴림"
{
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 4, 5, 208, 36
 CONTROL "페이지크기:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 13, 43, 11
 CONTROL "", TbPageSizeEBID, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 10, 52, 13
 CONTROL "라인크기:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 26, 38, 7
 CONTROL "", TbLineSizeEBID, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 25, 52, 12
}


